<html>
    <head>
    </head>
    <body>
        <nav>
            <a href="{% url 'liste_conferences' %}">Accueil</a>
            <a href="{% url 'liste_conferences' %}">Conférences</a>
            <a href="{% url 'my_submissions' %}">Mes soumissions</a>
            <a href="{% url 'submission_add_global' %}">Nouvelle soumission</a>
            <a href="#">Contacts</a>
            {% if request.user.is_authenticated %}
              <form method="post" action="{% url 'logout' %}" style="display:inline; margin-left: 8px;">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
              </form>
            {% else %}
              <a href="{% url 'login' %}">Se connecter</a>
            {% endif %}
        </nav>
        {% block content %}
        {% endblock %}
        <footer>
        <p>Workshop 25/26 - Django 3IA2</p>
        </footer>
    </body>



</html>
